@page "{referencia}"
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@inject IConfiguration Configuration
@{
    Layout = "_Layout";
}
<div class="nk-content-body">
    <div class="components-preview wide-md mx-auto">
        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-head-content">
                    <h4 class="title nk-block-title">Registro Empleado</h4>
                </div>
            </div>

            <form class="form-validate is-alter" id="empleados-form" method="post" enctype="multipart/form-data" asp-controller="A01Empleados" asp-action="Create">
                <div class="card card-bordered card-preview">
                    <div class="card-inner">
                        <div class="preview-block">
                            <span class="preview-title-lg overline-title">Capture la información del empleado.</span>
                            <div class="row gy-4">
                                @*        <div class="col-lg-4 col-sm-6">
                                <div class="form-group">
                                <div class="form-control-wrap">
                                <div class="form-icon form-icon-right xl">
                                <em class="icon ni ni-user"></em>
                                </div>
                                <input type="text" class="form-control form-control-xl form-control-outlined" id="id-empleado" name="id-empleado">
                                <label class="form-label-outlined" for="outlined-normal">ID Empleado</label>
                                </div>
                                </div>
                                </div>*@
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-user"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="nombre" name="nombre" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Nombre)" />
                                            <label class="form-label-outlined" for="outlined-normal">Nombre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-user"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="apellidos" name="apellidos" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Apellidos)">
                                            <label class="form-label-outlined" for="outlined-right-icon">Apellidos</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-email"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="email" name="email" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Email)">
                                            <label class="form-label-outlined" for="outlined-right-icon">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="edad" name="edad" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Edad)">
                                            <label class="form-label-outlined" for="outlined-right-icon">Edad</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="sexo" name="sexo" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Sexo)">
                                            <label class="form-label-outlined" for="outlined-right-icon">Sexo</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-phone"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="telefono" name="telefono" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Telefono)">
                                            <label class="form-label-outlined" for="outlined-right-icon">Telefono</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <div class="form-icon form-icon-right xl">
                                                <em class="icon ni ni-address"></em>
                                            </div>
                                            <input type="text" class="form-control form-control-xl form-control-outlined" id="direccion" name="direccion" value="@(this.ViewBag.Details is null ? "" : this.ViewBag.Details.Direccion)">
                                            <label class="form-label-outlined" for="outlined-right-icon">Dirección</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6">
                                    <div class="preview-block">
                                        <span class="preview-title overline-title">Active o desactive el estatus del empleado.</span>
                                        <div class="custom-control custom-checkbox checked">
                                            <input type="checkbox" class="custom-control-input" id="estatus" name="estatus" >
                                            <label class="custom-control-label" for="estatus">Estatus</label>
                                        </div>
                                    </div>
                                </div>
                                @*       <div class="col-lg-4 col-sm-6">
                                <div class="form-group">
                                <div class="form-control-wrap">
                                <div class="form-icon form-icon-right xl">
                                <em class="icon ni ni-calendar-alt"></em>
                                </div>
                                <input type="text" class="form-control form-control-xl form-control-outlined date-picker" id="outlined-date-picker">
                                <label class="form-label-outlined" for="outlined-date-picker">Date Picker</label>
                                </div>
                                </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                <div class="form-group">
                                <div class="form-control-wrap has-timepicker">
                                <div class="form-icon form-icon-right xl">
                                <em class="icon ni ni-clock"></em>
                                </div>
                                <input type="text" class="form-control form-control-xl form-control-outlined time-picker" id="outlined-time-picker">
                                <label class="form-label-outlined" for="outlined-time-picker">Time Picker</label>
                                </div>
                                </div>
                                </div>*@
                            </div>
                            <div class="row pt-4">
                                @if(this.ViewBag.Details is null) 
                                {
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <button type="button" onclick="Update()" class="btn btn-lg btn-primary btn-block">Actualizar</button>
                                    </div>
                                }

                                
                            </div>
                        </div>

                    </div>
                </div><!-- .card-preview -->
            </form>
        </div><!-- .nk-block -->


    </div><!-- .components-preview -->
</div>
@section scripts  {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" ></script>
    <script>
   
        function Update()
        {
            fetch(`/A01Empleados/Update`, {
                method: 'PUT',
                headers: {
                    'Content-type': 'application/json',
                },
                body: JSON.stringify({ 
                    Id: @(this.ViewBag.Details is null ? 0 : this.ViewBag.Details.Id),
                    IdEmpleado:'@(this.ViewBag.Details is null ? 0 : this.ViewBag.Details.IdEmpleado)',
                    Nombre: $("#nombre").val(),
                    Apellidos: $("#apellidos").val(),
                    Edad: $("#edad").val(),
                    Sexo: $("#sexo").val(),
                    Email: $("#email").val(),
                    Telefono: $("#telefono").val(),
                    Direccion: $("#direccion").val(),
                    Estatus: 1,///$("#estatus").val(),
                    CreatedBy: '',
                    CreatedOn: moment().toISOString(),
                    LastModifiedBy: '',
                    LastModifiedOn: moment().toISOString()
                })
            }).then(function (response) {
                if (response.ok) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Guardado correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(function () {
                        window.location.href = '/A01Empleados';
                    }, 1000);
                    return response.json();
                }
                return Promise.reject(response);
            }).then(data => {
                console.log('Success:', id);
            }).catch(function (error) {
                console.log('BLAH BLAH BLAH', error);
            });
        }

        $("#empleados-form").validate({
            rules: {
                // compound rule
                nombre: { required: true },
                apellidos: { required: true },
                edad: { required: true },
                sexo: { required: true },
                email: { required: true, email: true },
            },
            submitHandler: function (form) {
                let uniqueId = Date.now().toString(36) + Math.random().toString(36).substring(2);
                          
                fetch(`/A01Empleados/Create`, {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/json',
                    },
                    body: JSON.stringify({
                        Id: 0,
                        IdEmpleado: uniqueId,
                        Nombre: $("#nombre").val(),
                        Apellidos: $("#apellidos").val(),
                        Edad: $("#edad").val(),
                        Sexo: $("#sexo").val(),
                        Email: $("#email").val(),
                        Telefono: $("#telefono").val(),
                        Direccion: $("#direccion").val(),
                        Estatus: 1,///$("#estatus").val(),
                        CreatedBy: '',
                        CreatedOn: moment().toISOString(),
                        LastModifiedBy: '',
                        LastModifiedOn: moment().toISOString()
                    })
                }).then(function (response) {
                    if (response.ok) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Guardado correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(function () {
                            window.location.href = '/A01Empleados';
                        }, 1000);
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(data => {
                    console.log('Success:', id);
                }).catch(function (error) {
                    console.log('BLAH BLAH BLAH', error);
                });
            }
        });
    </script>

}