@page "{referencia}"
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@inject IConfiguration Configuration
@{
    Layout = "_Layout";
}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Empleados</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li class="nk-block-tools-opt">
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-icon btn-primary" data-bs-toggle="dropdown"><em class="icon ni ni-plus"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="/A01Empleados/Formulario/0"><span>Agregar Empleado</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- .toggle-wrap -->
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner position-relative card-tools-toggle">
                    <div class="card-title-group">
                        <div class="card-tools">
                            <div class="form-inline flex-nowrap gx-3">
                            </div><!-- .card-tools -->
                        </div><!-- .card-title-group -->
                    </div><!-- .card-inner -->
                    <div class="card-inner p-0">
                        <div class="nk-tb-list nk-tb-ulist">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span class="sub-text">ID Empleado</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Nombre</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Apellido</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Edad</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Teléfono</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Email</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Estatus</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Creado</span></div>
                                <div class="nk-tb-col nk-tb-col-tools text-end">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs btn-outline-light btn-icon dropdown-toggle" data-bs-toggle="dropdown" data-offset="0,5"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                            <ul class="link-tidy sm no-bdr">
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="st">
                                                        <label class="custom-control-label" for="st">Status</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .nk-tb-item -->
                            @foreach (var item in this.ViewBag.Empleados)
                            {
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col text-center">
                                        <span class="tb-lead text-small">@item.Id</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="text-small">@item.Nombre?.ToUpper()</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="text-small">@item.Apellidos?.ToUpper()</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="text-small">@item.Edad</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="text-small">@item.Telefono</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <ul class="list-status">
                                            <li><span class="text-small">@item.Email</span></li>
                                        </ul>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="tb-status text-success">@(item.Estatus == 1 ? "Activo" : "Inactivo")</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="text-small">10 Feb 2020</span>
                                    </div>
                                    <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-2">
                                            <li>
                                                <div class="drodown">
                                                    <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li><a href="/ReporteNomina/@item.IdEmpleado"><em class="icon ni ni-file-text"></em><span>Reporte</span></a></li>
                                                            <li><a href="/A01Empleados/Formulario/@item.Id"><em class="icon ni ni-edit"></em><span>Editar</span></a></li>
                                                            <li><a href="javascript:Delete(@item.Id)"><em class="icon ni ni-trash-alt"></em><span>Eliminar</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- .nk-tb-item -->
                            }
                        </div><!-- .nk-tb-list -->
                    </div><!-- .card-inner -->
                </div><!-- .card-inner-group -->
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
</div>
@section scripts  {

    <script>
        function Delete(id) {
            fetch(`/A01Empleados/delete/${id}`,
                { method: 'DELETE' })
                .then(function (response) {
                    if (response.ok) {
                        Swal.fire({
                            position: 'top-end',
                            icon: 'success',
                            title: 'Eliminado correctamente',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        setTimeout(function () {
                            window.location.href = '/A01Empleados';
                        }, 1000);
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(data => {
                    console.log('Success:', id);
                }).catch(function (error) {
                    console.log('BLAH BLAH BLAH', error);
                });
        }
    </script>



}