@page "{referencia}"
@using Microsoft.Extensions.Configuration
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@inject IConfiguration Configuration
@{
    Layout = "_Layout";
}
<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Detalle Empleado </h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-between g-3">
                <div class="nk-block-head-content">
                    <a href="/A01Empleados" class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em class="icon ni ni-arrow-left"></em><span>Lista de Empleados</span></a>
                </div>
            </div>
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner position-relative card-tools-toggle">
                    <div class="card-title-group">
                        <div class="card-tools">
                            <div class="form-inline flex-nowrap gx-3">
                            </div><!-- .card-tools -->
                        </div><!-- .card-title-group -->
                    </div><!-- .card-inner -->
                    <div class="card-inner p-0">
                        <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span class="sub-text">ID Empleado</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Nombre</span></div>
                                <div class="nk-tb-col tb-col-md"><span class="sub-text">ID Rol</span></div>
                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Fecha Comienzo Rol</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Estatus</span></div>
                               @* <div class="nk-tb-col nk-tb-col-tools text-end">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-xs btn-outline-light btn-icon dropdown-toggle" data-bs-toggle="dropdown" data-offset="0,5"><em class="icon ni ni-plus"></em></a>
                                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-end">
                                            <ul class="link-tidy sm no-bdr">
                                                <li>
                                                    <div class="custom-control custom-control-sm custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="st">
                                                        <label class="custom-control-label" for="st">Status</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                            </div><!-- .nk-tb-item -->
                            @foreach (var item in this.ViewBag.RolEmpleado)
                            {
                                <div class="nk-tb-item">
                                    <div class="nk-tb-col">
                                        <div class="user-card">
                                            <div class="user-avatar xs bg-primary">
                                                <span>#</span>
                                            </div>
                                            <div class="user-name">
                                                <span class="tb-lead">@item.IdEmpleado?.ToUpper()</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                        <span>@item.Nombre</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-md">
                                        <span>@item.IdRol</span>
                                    </div>
                                    <div class="nk-tb-col tb-col-sm">
                                        <span>@item.CreatedOn</span>
                                    </div>
                                    <div class="nk-tb-col">
                                        <span class="tb-status text-success">@(item.Estatus == 1 ? "Activo" : "Inactivo")</span>
                                    </div>
                                   @* <div class="nk-tb-col nk-tb-col-tools">
                                        <ul class="nk-tb-actions gx-2">
                                            <li>
                                                <div class="drodown">
                                                    <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <ul class="link-list-opt no-bdr">
                                                            <li><a href="/A02Roles/Formulario/@item.Id"><em class="icon ni ni-edit"></em><span>Editar</span></a></li>
                                                            <li><a href="javascript:Delete(@item.Id)"><em class="icon ni ni-trash-alt"></em><span>Eliminar</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>*@
                                </div>

                                <!-- .nk-tb-item -->
                            }
                        </div><!-- .nk-tb-list -->
                    </div><!-- .card-inner -->
                </div><!-- .card-inner-group -->
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
</div>